-
  branches:
    only:
      - main

  image: Visual Studio 2022
  version: 0.1.5-master-build.{build}
  configuration: Release

  before_build:
    - dotnet restore

  build:
    verbosity: minimal

  artifacts:
    - path: 'src\AvaloniaHex\bin\Release\*.nupkg'

  deploy:
    provider: NuGet
    api_key:
      secure: HyapzsqHiM9VMD2qxG9cPHTu+j4o8A5/sEKY3duRML7uw1JtxcWQFHy1GLy3HMjr
    skip_symbols: false
    artifact: /.*\.nupkg/
